USE [master]
GO
/****** Object:  Database [e-learner]    Script Date: 7/19/2023 12:17:15 AM ******/
CREATE DATABASE [e-learner]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'e-learner', FILENAME = N'/var/opt/mssql/data/e-learner.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'e-learner_log', FILENAME = N'/var/opt/mssql/data/e-learner_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [e-learner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [e-learner]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[fullname] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[avatar] [nvarchar](255) NULL,
	[roleId] [int] NULL,
 CONSTRAINT [PK__Account__3213E83F3BEF53B1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[className] [nvarchar](255) NULL,
	[maxStudent] [int] NULL,
	[userId] [int] NULL,
	[dateCreate] [date] NULL,
	[image] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[courseId] [int] NULL,
 CONSTRAINT [PK__Class__3213E83FEE514B06] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[courseName] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[image] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[createDate] [date] NULL,
 CONSTRAINT [PK__Course__3213E83F4B6C639B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start] [int] NULL,
	[content] [nvarchar](255) NULL,
	[date] [date] NULL,
	[userId] [int] NULL,
	[teacherId] [int] NULL,
 CONSTRAINT [PK__FeedBack__3213E83F3F86C017] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupChat]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupChat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupChatName] [nvarchar](255) NULL,
	[isPrivate] [bit] NULL,
	[classId] [int] NULL,
	[userId] [int] NULL,
 CONSTRAINT [PK__GroupCha__3213E83FDBD43DC8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lessonName] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[description] [nvarchar](255) NULL,
	[videoUrl] [nvarchar](max) NULL,
	[courseId] [int] NULL,
 CONSTRAINT [PK__Lesson__3213E83F3CCBADA7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupChatId] [int] NULL,
	[userId] [int] NULL,
	[isLeader] [int] NULL,
 CONSTRAINT [PK__Member__3213E83FDBD43DC8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](255) NULL,
	[resoucePathFile] [nvarchar](255) NULL,
	[userId] [int] NULL,
	[groupId] [int] NULL,
	[dateSended] [datetime] NULL,
 CONSTRAINT [PK__Message__3213E83F99F8FAF6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](255) NULL,
	[ownerId] [int] NULL,
	[dateCreate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationClass]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationClass](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[requestDate] [date] NULL,
	[requestStatus] [varchar](10) NULL,
	[classId] [int] NULL,
	[accountId] [int] NULL,
	[reason] [nvarchar](255) NULL,
 CONSTRAINT [PK__Registra__3213E83F19FF774F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resource]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resourceName] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[resourcePath] [nvarchar](255) NULL,
	[lessonId] [int] NULL,
 CONSTRAINT [PK__Resource__3213E83FF61910C0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/19/2023 12:17:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [int] NOT NULL,
	[roleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Role__CD98462A6B065A89] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [username], [password], [status], [email], [phone], [fullname], [address], [avatar], [roleId]) VALUES (1, N'admin', N'admin', 1, N'user1@example.com', N'123456789', N'Administration', N'Address 1', N'avatar1.jpg', 1)
INSERT [dbo].[Account] ([id], [username], [password], [status], [email], [phone], [fullname], [address], [avatar], [roleId]) VALUES (2, N'teacher', N'teacher', 1, N'teacher@gmail.com', N'987654321', N'teacher 1', N'Hanoi', N'team-1.jpg', 2)
INSERT [dbo].[Account] ([id], [username], [password], [status], [email], [phone], [fullname], [address], [avatar], [roleId]) VALUES (8, N'teacher2', N'teacher2', 1, N'teacher2@gmail.com', N'0984065979', N'Cô Thảo', N'address 2', N'team-2.jpg', 2)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([id], [className], [maxStudent], [userId], [dateCreate], [image], [status], [courseId]) VALUES (14, N'Lớp Thầy Hải', 10, 13, CAST(N'2023-07-18' AS Date), N'123.png', 1, 1)
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([id], [courseName], [status], [image], [description], [createDate]) VALUES (1, N'Math', 1, N'course1.png', N'Description for Course 1', CAST(N'2023-01-01' AS Date))
INSERT [dbo].[Course] ([id], [courseName], [status], [image], [description], [createDate]) VALUES (2, N'Java', 1, N'course2.jpg', N'Description for Course 2', CAST(N'2023-02-01' AS Date))
INSERT [dbo].[Course] ([id], [courseName], [status], [image], [description], [createDate]) VALUES (3, N'Python', 1, N'course3.jpg', N'Description for Course 2', CAST(N'2023-02-01' AS Date))
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([id], [lessonName], [status], [description], [videoUrl], [courseId]) VALUES (11, N'Trường Đời', 1, N'Nhạc Chill Hot TikTok Nghe Là Nghiện', N'YVWiKGzkmYU', 1)
SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([id], [content], [ownerId], [dateCreate]) VALUES (3, N'The student longpc has join the class 1', 2, CAST(N'2023-06-20T23:15:26.857' AS DateTime))
INSERT [dbo].[Notification] ([id], [content], [ownerId], [dateCreate]) VALUES (10, N'The student longpc has join the class 2', 8, CAST(N'2023-06-21T01:14:30.677' AS DateTime))
INSERT [dbo].[Notification] ([id], [content], [ownerId], [dateCreate]) VALUES (11, N'You have been approved by teacher teacher2', 10, CAST(N'2023-06-21T01:16:08.573' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (1, N'ADMIN')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (2, N'TEACHER')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (3, N'STUDENT')
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account__roleId__38996AB5] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account__roleId__38996AB5]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_ID] FOREIGN KEY([courseId])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_COURSE_ID]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK__FeedBack__userId__3B75D760] FOREIGN KEY([userId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK__FeedBack__userId__3B75D760]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK__Lesson__courseId__4222D4EF] FOREIGN KEY([courseId])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK__Lesson__courseId__4222D4EF]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK__Member__groupCha__2CF2ADDF] FOREIGN KEY([groupChatId])
REFERENCES [dbo].[GroupChat] ([id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK__Member__groupCha__2CF2ADDF]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK__Member__userId__2DE6D218] FOREIGN KEY([userId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK__Member__userId__2DE6D218]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__groupId__4F7CD00D] FOREIGN KEY([groupId])
REFERENCES [dbo].[GroupChat] ([id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__groupId__4F7CD00D]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__userId__4E88ABD4] FOREIGN KEY([userId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__userId__4E88ABD4]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([ownerId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[RegistrationClass]  WITH CHECK ADD  CONSTRAINT [FK__Registrat__accou__47DBAE45] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[RegistrationClass] CHECK CONSTRAINT [FK__Registrat__accou__47DBAE45]
GO
ALTER TABLE [dbo].[RegistrationClass]  WITH CHECK ADD  CONSTRAINT [FK__Registrat__class__46E78A0C] FOREIGN KEY([classId])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[RegistrationClass] CHECK CONSTRAINT [FK__Registrat__class__46E78A0C]
GO
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD  CONSTRAINT [Resource_FK] FOREIGN KEY([lessonId])
REFERENCES [dbo].[Lesson] ([id])
GO
ALTER TABLE [dbo].[Resource] CHECK CONSTRAINT [Resource_FK]
GO
USE [master]
GO
