USE [master]
GO
/****** Object:  Database [CompStore]    Script Date: 7/5/2023 10:23:47 PM ******/
CREATE DATABASE [CompStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompStore', FILENAME = N'/var/opt/mssql/data/CompStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompStore_log', FILENAME = N'/var/opt/mssql/data/CompStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[acc_name] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[role_id] [int] NULL,
	[activate] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[account_id] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[ModifiedBy] [int] NULL,
	[isDeleted] [bit] NULL,
	[news_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[cus_name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](100) NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [varchar](10) NULL,
	[account_id] [int] NULL,
	[avatar] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guarantee_record]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guarantee_record](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[customer_id] [int] NULL,
	[g_date] [date] NULL,
	[status] [int] NULL,
	[return_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Image__DC9AC955DEF9957C] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[news_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[content] [nvarchar](max) NULL,
	[brand_id] [int] NULL,
	[news_type_id] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[news_img_id] [int] NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News_img]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News_img](
	[img_id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News_Type]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News_Type](
	[news_type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[news_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[order_date] [date] NOT NULL,
	[payment] [nvarchar](100) NOT NULL,
	[total_price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_detail]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_detail](
	[order_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[product_id] [int] NULL,
	[total_price] [money] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[price] [money] NOT NULL,
	[sale] [tinyint] NOT NULL,
	[color] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[guarantee_time] [tinyint] NULL,
	[brand_id] [int] NULL,
	[type_id] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_img]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_img](
	[image_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
 CONSTRAINT [PK__Product___98EAEE8A1C7B3073] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipment]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[shipment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[shiprequired_date] [date] NULL,
	[shipment_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[shipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 7/5/2023 10:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](100) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [acc_name], [password], [role_id], [activate]) VALUES (1, N'admin', N'123456', 1, 1)
INSERT [dbo].[Account] ([account_id], [acc_name], [password], [role_id], [activate]) VALUES (23, N'user1', N'123456', 3, 1)
INSERT [dbo].[Account] ([account_id], [acc_name], [password], [role_id], [activate]) VALUES (24, N'user2', N'123456', 3, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_id], [brand_name], [status]) VALUES (1, N'123123', 0)
INSERT [dbo].[Brand] ([brand_id], [brand_name], [status]) VALUES (2, N'Apple', 1)
INSERT [dbo].[Brand] ([brand_id], [brand_name], [status]) VALUES (3, N'HP', 1)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([comment_id], [content], [account_id], [CreatedDate], [ModifiedDate], [ModifiedBy], [isDeleted], [news_id]) VALUES (4, N'Hay qua', 1, CAST(N'2023-06-26' AS Date), NULL, NULL, 0, 1)
INSERT [dbo].[Comment] ([comment_id], [content], [account_id], [CreatedDate], [ModifiedDate], [ModifiedBy], [isDeleted], [news_id]) VALUES (11, N'AAAA', 23, CAST(N'2023-06-27' AS Date), NULL, NULL, 0, 4)
INSERT [dbo].[Comment] ([comment_id], [content], [account_id], [CreatedDate], [ModifiedDate], [ModifiedBy], [isDeleted], [news_id]) VALUES (12, N'ok', 24, CAST(N'2023-06-27' AS Date), NULL, NULL, 0, 4)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [cus_name], [address], [email], [phone], [account_id], [avatar]) VALUES (1, N'Duy Phuc', N'123 Street12', N'phucndhe176098@fpt.edu.vn', N'0123243443', 1, N'OIP.jpg')
INSERT [dbo].[Customer] ([customer_id], [cus_name], [address], [email], [phone], [account_id], [avatar]) VALUES (21, N'Thanh', N'123', N'daothanh1121@gmail.com', N'0324443255', 23, N'pexels-marco-fischer-115740-jp-3602-3486-1686881808.jpg')
INSERT [dbo].[Customer] ([customer_id], [cus_name], [address], [email], [phone], [account_id], [avatar]) VALUES (22, N'Thai', N'1234', N'thaindhe172237@fpt.edu.vn', N'0334484933', 24, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Guarantee_record] ON 

INSERT [dbo].[Guarantee_record] ([record_id], [product_id], [customer_id], [g_date], [status], [return_date]) VALUES (19, 114, 21, CAST(N'2023-06-28' AS Date), 2, CAST(N'2023-07-04' AS Date))
INSERT [dbo].[Guarantee_record] ([record_id], [product_id], [customer_id], [g_date], [status], [return_date]) VALUES (20, 116, 23, CAST(N'2023-06-28' AS Date), 2, CAST(N'2023-07-04' AS Date))
INSERT [dbo].[Guarantee_record] ([record_id], [product_id], [customer_id], [g_date], [status], [return_date]) VALUES (1020, 114, 21, CAST(N'2023-06-29' AS Date), 1, CAST(N'2023-07-07' AS Date))
SET IDENTITY_INSERT [dbo].[Guarantee_record] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([image_id], [url]) VALUES (1, N'61d7a9efb8dbc.jpg')
INSERT [dbo].[Image] ([image_id], [url]) VALUES (2, N'DELL-XPS-13-PLUS-9320-Hanoilab-3-scaled.jpg')
INSERT [dbo].[Image] ([image_id], [url]) VALUES (3, N'xp-s1-6867.jpg')
GO
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[News_img] ON 

INSERT [dbo].[News_img] ([img_id], [url]) VALUES (1037, N'a17-feature-dark-jpeg-2359-168-4752-8443-1687752836.jpg')
INSERT [dbo].[News_img] ([img_id], [url]) VALUES (1038, N'0606_acer-gia-tot-chot-don-ngay-1.jpg')
INSERT [dbo].[News_img] ([img_id], [url]) VALUES (1039, N'1706_170617.jpg')
SET IDENTITY_INSERT [dbo].[News_img] OFF
GO
SET IDENTITY_INSERT [dbo].[News_Type] ON 

INSERT [dbo].[News_Type] ([news_type_id], [type_name]) VALUES (1, N'Market')
INSERT [dbo].[News_Type] ([news_type_id], [type_name]) VALUES (2, N'Explore')
INSERT [dbo].[News_Type] ([news_type_id], [type_name]) VALUES (3, N'Review')
SET IDENTITY_INSERT [dbo].[News_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [customer_id], [order_date], [payment], [total_price]) VALUES (7, 21, CAST(N'2023-06-26' AS Date), N'VNPay', 10000000.0000)
INSERT [dbo].[Order] ([order_id], [customer_id], [order_date], [payment], [total_price]) VALUES (8, 22, CAST(N'2023-06-26' AS Date), N'VNPay', 10000000.0000)
INSERT [dbo].[Order] ([order_id], [customer_id], [order_date], [payment], [total_price]) VALUES (9, 21, CAST(N'2023-07-27' AS Date), N'VNPay', 10000000.0000)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_detail] ON 

INSERT [dbo].[Order_detail] ([order_id], [customer_id], [quantity], [product_id], [total_price], [id]) VALUES (7, 21, 1, 114, 10000000.0000, 6)
INSERT [dbo].[Order_detail] ([order_id], [customer_id], [quantity], [product_id], [total_price], [id]) VALUES (8, 22, 1, 115, 10000000.0000, 7)
INSERT [dbo].[Order_detail] ([order_id], [customer_id], [quantity], [product_id], [total_price], [id]) VALUES (9, 21, 1, 115, 10000000.0000, 8)
SET IDENTITY_INSERT [dbo].[Order_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Product_img] ([image_id], [product_id]) VALUES (2056, 117)
INSERT [dbo].[Product_img] ([image_id], [product_id]) VALUES (2057, 116)
INSERT [dbo].[Product_img] ([image_id], [product_id]) VALUES (2058, 115)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'Employee')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([type_id], [type_name], [status]) VALUES (1, N'longpc', 1)
INSERT [dbo].[Type] ([type_id], [type_name], [status]) VALUES (2, N'screen', 1)
INSERT [dbo].[Type] ([type_id], [type_name], [status]) VALUES (3, N'mouse', 1)
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [activate]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Guarantee_record] ADD  DEFAULT (getdate()) FOR [g_date]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Order_detail] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Shipment] ADD  DEFAULT (dateadd(week,(1),getdate())) FOR [shiprequired_date]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Guarantee_record]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Guarantee_record]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([news_type_id])
REFERENCES [dbo].[News_Type] ([news_type_id])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Account] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Account]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Account1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Account1]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_News_img] FOREIGN KEY([news_img_id])
REFERENCES [dbo].[News_img] ([img_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_News_img]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[Type] ([type_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Account] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Account1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Account1]
GO
ALTER TABLE [dbo].[Product_img]  WITH CHECK ADD  CONSTRAINT [FK__Product_i__image__59FA5E80] FOREIGN KEY([image_id])
REFERENCES [dbo].[Image] ([image_id])
GO
ALTER TABLE [dbo].[Product_img] CHECK CONSTRAINT [FK__Product_i__image__59FA5E80]
GO
ALTER TABLE [dbo].[Product_img]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
USE [master]
GO
